## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lebu,CL,-37.6167,-73.6500,49.50,79,100,0.98,overcast clouds
1,1,Vestmannaeyjar,IS,63.4427,-20.2734,50.99,81,75,11.50,broken clouds
2,2,Mataura,NZ,-46.1927,168.8643,52.48,83,100,7.70,overcast clouds
3,3,Ilulissat,GL,69.2167,-51.1000,41.02,56,75,13.80,broken clouds
4,4,Peleduy,RU,59.6289,112.7406,50.76,86,73,3.67,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 70
What is your desired maximum temperature for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Rikitea,PF,-23.1203,-134.9692,75.58,77,15,13.71,few clouds
17,17,Marsh Harbour,BS,26.5412,-77.0636,79.14,74,8,15.79,clear sky
18,18,Georgetown,MY,5.4112,100.3354,84.13,92,20,0.00,few clouds
19,19,Butaritari,KI,3.0707,172.7902,81.27,80,100,12.75,light rain
21,21,Puerto Ayora,EC,-0.7393,-90.3518,78.76,96,47,1.99,scattered clouds
36,36,Sabang,ID,5.8933,95.3214,84.34,76,96,19.57,overcast clouds
38,38,Kavieng,PG,-2.5744,150.7967,82.72,71,98,16.15,overcast clouds
48,48,Dzaoudzi,YT,-12.7887,45.2699,82.29,69,0,8.05,clear sky
52,52,Mangrol,IN,21.1167,70.1167,84.49,75,50,18.97,scattered clouds
53,53,Kapaa,US,22.0752,-159.3190,73.38,87,20,12.66,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Rikitea,PF,-23.1203,-134.9692,75.58,77,15,13.71,few clouds
17,17,Marsh Harbour,BS,26.5412,-77.0636,79.14,74,8,15.79,clear sky
18,18,Georgetown,MY,5.4112,100.3354,84.13,92,20,0.00,few clouds
19,19,Butaritari,KI,3.0707,172.7902,81.27,80,100,12.75,light rain
21,21,Puerto Ayora,EC,-0.7393,-90.3518,78.76,96,47,1.99,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
697,697,Sisophon,KH,13.5859,102.9737,76.69,90,100,5.10,overcast clouds
701,701,Antalaha,MG,-14.9003,50.2788,73.27,75,5,9.91,clear sky
702,702,Tampilisan,PH,8.0167,122.6833,74.07,94,100,4.09,overcast clouds
703,703,Sulangan,PH,11.1373,123.7228,83.34,74,58,5.91,broken clouds
704,704,Ghanaur,IN,30.3322,76.6072,78.62,47,80,4.00,moderate rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Rikitea,PF,75.58,few clouds,-23.1203,-134.9692,
17,Marsh Harbour,BS,79.14,clear sky,26.5412,-77.0636,
18,Georgetown,MY,84.13,few clouds,5.4112,100.3354,
19,Butaritari,KI,81.27,light rain,3.0707,172.7902,
21,Puerto Ayora,EC,78.76,scattered clouds,-0.7393,-90.3518,
36,Sabang,ID,84.34,overcast clouds,5.8933,95.3214,
38,Kavieng,PG,82.72,overcast clouds,-2.5744,150.7967,
48,Dzaoudzi,YT,82.29,clear sky,-12.7887,45.2699,
52,Mangrol,IN,84.49,scattered clouds,21.1167,70.1167,
53,Kapaa,US,73.38,few clouds,22.0752,-159.3190,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Rikitea,PF,75.58,few clouds,-23.1203,-134.9692,People ThankYou
17,Marsh Harbour,BS,79.14,clear sky,26.5412,-77.0636,Abaco Beach Resort
18,Georgetown,MY,84.13,few clouds,5.4112,100.3354,Cititel Penang
19,Butaritari,KI,81.27,light rain,3.0707,172.7902,Isles Sunset Lodge
21,Puerto Ayora,EC,78.76,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))